{% render 'shogun-products', content: product %}
{{product.metafields.shogun.above}}



{% section 'product-template' %}

{{product.metafields.shogun.below}}
{% section 'product-recommendations' %}
{% section 'recently-viewed-products' %}

<script>
  window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)};
  ShopifyXR('addModels', {{ product.media | where: 'media_type', 'model' | json }});
</script>
{%assign yotpo_attribute = product.metafields.yotpo_attribute %}
{%if yotpo_attribute.size > 0 %}

  {% for field in yotpo_attribute %}

      {% assign attribute_code = field | first %}
      {% assign attribute_value = field | last %}
        <div class="custom-attribute yotpo-gallery">
          {{attribute_value}}
        </div>

  {% endfor %}

{%endif%}

<div class="reviews-title"><h2>Reviews</h2></div>
<!-- Begin Yotpo Reviews -->
<div class="yotpo yotpo-pictures-widget" data-gallery-id="5fadb7fc67e2975100d617b6"></div>
<div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}"></div>
<!-- End Yotpo Reviews -->
<script type="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>

